<div id="delete-message-template">
  <form #form="ngForm" (ngSubmit)="deleteMessageTemplate()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title">Remover template de e-email</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="mb-0">Tem certeza que deseja remover o template de e-email <b>"{{ messageTemplate.identifier }}"</b>?</p>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="form.invalid || deleting"
        class="btn btn-danger"
        type="submit">
        Remover
      </button>
    </div>
  </form>
</div>
