<div id="signin">
  <div class="container">
    <div *ngIf="!loading" class="row py-5">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">
            <div class="card">
              <div class="card-body">
                <form #form="ngForm" (ngSubmit)="signIn()" novalidate>
                  <h2 class="mb-4 text-center">Entre com sua conta</h2>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text form-control">
                          <fa-icon [icon]="['fas', 'envelope']" [fixedWidth]="true"></fa-icon>
                        </span>
                      </div>
                      <input
                        [(ngModel)]="email"
                        id="email"
                        class="form-control py-2"
                        name="email"
                        type="email"
                        placeholder="Email"
                        email
                        required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text form-control">
                          <fa-icon [icon]="['fas', 'key']" [fixedWidth]="true"></fa-icon>
                        </span>
                      </div>
                      <input
                        [(ngModel)]="password"
                        type="password"
                        id="password"
                        class="form-control py-2"
                        name="password"
                        placeholder="Senha"
                        minlength="4"
                        required>
                    </div>
                  </div>
                  <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-lg btn-block mt-4">
                    Entrar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="note">
          <div class="col text-white text-center">
            Ainda não tem uma conta? <a [routerLink]="['/signup']" class="text-white">Junte-se a nós</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-alerts></app-alerts>