@import (css) url("https://fonts.googleapis.com/css?family=Montserrat:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic");

html, body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, p, small {
  .font-weight-light();
  line-height: 1.5;
}

a, a:hover {
  color: inherit;
}

b, strong {
  font-weight: bold;
}

span {
  &.editable {
    height: calc(2.25rem + 2px);
    padding: 0.55rem 0.75rem;
    border-radius: 0.25rem;
    color: #495057;
    &:hover {
      cursor: pointer;
      background-color: @grey;
    }
  }
}

input {
  &.editable {
    &[readonly] {
      border: 0px;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        background-color: @grey;
      }
    }
  }
}

select {
  &.editable {
    &.form-control-plaintext {
      .appearance(none);
      height: calc(2.25rem + 2px);
      padding: 0.375rem 1rem;
      border: 0px;
      border-radius: 0.25rem;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        background-color: @grey;
      }
    }
  }
}

.font-small {
  font-size: 14px !important;
}

.font-normal {
  font-size: 16px !important;
}

.font-large {
  font-size: 18px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-black {
  background-color: #212529 !important;
}

.text-black {
  color: #212529;
}

.vr {
  .ml-3();
  .mr-3();
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.ng-fa-icon {
  line-height: normal;
  &.inherit-line-height {
    line-height: inherit;
  }
}

.svg-inline--fa {
  overflow: visible !important;
  vertical-align: -.125em !important;
}

.btn-warning {
  color: @white !important;
  &:hover {
    color: @white !important;
  }
  &:active {
    color: @white !important;
  }
}

.btn-file  {
  input[type=file] {
    display: none;
  }
}

.badge {
  .text-white();
  .px-2();
  .py-2();
  .font-weight-normal();
}

.badge-orange {
  background-color: @orange;
}

.badge-deep-orange {
  background-color: #eb5a46;
}

.dropdown-toggle::after {
  display: none;
}

.alerts {
  z-index: 1999;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.alert {
  display: inline-block;
  float: right;
  clear: both;
  border: none;
  padding: 0;
  margin-bottom: 0.5rem;
  .card-body {
    padding: 0.8rem 1.25rem;
  }
}

.card {
  box-shadow: 0px 1px 5px rgba(0,0,0,.15);
}

.modal-header {
  button {
    &.close {
      font-size: 36px;
    }
  }
}

.popover {
  font-family: "Montserrat";
  max-width: 550px;
}

.popover-header {
  .text-dark();
  .text-center();
}

.popover-body {
  .px-3();
  .py-3();
}

.ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number {
  width: 2.2rem !important;
}

.ngb-dp-day {
  > .btn-light {
    width: 2.2rem !important;
  }
}

.cal-month-view {
  .cal-header {
    .py-0();
    .cal-cell {
      .py-2();
      .font-weight-normal();
      text-transform: capitalize;
    }
  }
}

.cal-week-view {
  .cal-event-container {
    position: relative;
  }
  .cal-events-row {
    height: auto;
  }
  .cal-event {
    .mb-1();
    .py-1();
    height: auto;
    line-height: unset;
    overflow: unset;
    -o-text-overflow: unset;
    text-overflow: unset;
    white-space: unset;
    text-align: center;
  }
  .cal-event-title:link {
    color: @white;
    text-decoration: none;
  }
}

.pac-container {
  z-index: 9999;
}

#loading-bar-spinner {
  left: unset !important;
  right: 10px !important;
}

.checkbox-container {
  .user-select(none);
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0px;
  cursor: pointer;
  input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    &:checked {
      &~.checkmark {
        border: unset;
        background-color: @primary;
        &:after {
          display: block;
        }
      }
    }
  }
  .checkmark {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid @grey-border;
    background-color: @white;
    &:hover {
      background-color: @grey;
    }
    &:after {
      .transform(rotate(45deg));
      display: none;
      position: absolute;
      left: 7px;
      top: 3px;
      width: 6px;
      height: 11px;
      border: solid @white;
      border-width: 0px 3px 3px 0px;
      content: "";
    }
  }
}
