@import (css) url("https://fonts.googleapis.com/css?family=Montserrat:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic");

html, body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, p, small {
  font-weight: 100;
  line-height: 1.5;
}

a, a:hover {
  color: inherit;
}

.font-small {
  font-size: 14px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-black {
  background-color: #212529 !important;
}

.text-black {
  color: #212529;
}

.vr {
  .ml-3();
  .mr-3();
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.ng-fa-icon {
  display: inherit;
}

.svg-inline--fa {
  overflow: visible !important;
  vertical-align: -.125em !important;
}

.btn-warning {
  color: @white !important;
  &:hover {
    color: @white !important;
  }
  &:active {
    color: @white !important;
  }
}

.btn-file  {
  input[type=file] {
    display: none;
  }
}

.badge-orange {
  color: #fff;
  background-color: #eb5a46;
}

.dropdown-toggle::after {
  display: none;
}

.alerts {
  z-index: 1999;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.alert {
  display: inline-block;
  float: right;
  clear: both;
  border: none;
  padding: 0;
  margin-bottom: 0.5rem;
  .card-body {
    padding: 0.8rem 1.25rem;
  }
}

.card {
  box-shadow: 0px 1px 5px rgba(0,0,0,.15);
}

.modal-header {
  button {
    &.close {
      font-size: 36px;
    }
  }
}

.popover {
  font-family: "Montserrat";
  max-width: 400px;
}

.popover-header {
  .text-dark();
  .text-center();
}

.ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number {
  width: 2.2rem !important;
}

.ngb-dp-day {
  > .btn-light {
    width: 2.2rem !important;
  }
}

.cal-week-view {
  .cal-event-container {
    position: relative;
  }
  .cal-events-row {
    height: auto;
  }
  .cal-event {
    .mb-1();
    .py-1();
    height: auto;
    line-height: unset;
    overflow: unset;
    -o-text-overflow: unset;
    text-overflow: unset;
    white-space: unset;
    text-align: center;
  }
  .cal-event-title:link {
    color: @white;
    text-decoration: none;
  }
}