@import "variables";
@import "general";
@import "header";
@import "footer";
@import "utils";

@import (less, reference) "~bootstrap/dist/css/bootstrap.min.css";

#signup, #signin, #register-company, #not-found {
  min-height: 100%;
  background-color: @primary;
  label, input, .input-group-text {
    font-size: 20px;
  }
  button {
    font-size: 22px;
  }
  .note {
    font-size: 20px;
    a {
      text-decoration: underline;
    }
  }
}

#home {
  .row();
  .mx-0();
  .my-0();
  min-height: 100%;
  > .menu {
    .col-3();
    .d-flex();
    .flex-column();
    .py-4();
    .text-center();
    .text-white();
    background-color: @primary;
    > .company {
      > .logo {
        .rounded-circle();
        width: 100px;
        height: 100px;
        background-color: @white;
      }
      > .name {
        .mt-3();
        .mb-0();
        font-size: 30px;
      }
    }
    > .items {
      .mt-4();
      > .item {
        .d-flex();
        .align-items-center();
        .px-2();
        .py-1();
        .text-white();
        border-radius: 4px;
        text-decoration: none;
        &:hover {
          background-color: @primary-dark;
        }
        > .icon {
          .mr-3();
          .text-center();
          width: 31px;
          font-size: 22px;
        }
        > .text {
          font-size: 14px;
        }
      }
    }
    > .bottom {
      .flex-grow-1();
      .d-flex();
      .align-items-end();
      .px-1();
      > .account-icon {
        .rounded-circle();
        width: 40px;
        height: 40px;
        background-color: @white;
      }
    }
  }
  > .content {
    .col-9();
    .px-4();
    .py-4();
    background-color: @white;
  }
}

#clients {
  .client.card {
    text-decoration: none;
    color: inherit;
    &:hover, &:link, &:visited {
      text-decoration: none;
      color: inherit;
    }
    > .card-body {
      .d-flex();
      > .photo {
        .flex-shrink-0();
        .rounded-circle();
        width: 60px;
        height: 60px;
      }
      > .info {
        .flex-grow-1();
        .ml-3();
      }
    }
  }
}

#client {
  .basic-info {
    .d-flex();
    > .photo {
      .flex-shrink-0();
      .rounded-circle();
      width: 150;
      height: 150;
    }
    > .info {
      .flex-grow-1();
      .ml-4();
    }
  }
}