@import "variables";
@import "general";
@import "header";
@import "footer";

@import (less, reference) "~bootstrap/dist/css/bootstrap.css";

#signup, #signin, #setup-company, #not-found {
  min-height: 100%;
  background-color: @primary;
  .note {
    .row();
    .mt-4();
    a {
      text-decoration: underline;
    }
  }
}

#setup-company {
  background-color: @primary;
  h2 {
    color: @white;
  }
  .logo {
    .d-block();
    .rounded();
    width: 160px;
    height: 160px;
  }
}

#company {
  .row();
  .mx-0();
  .my-0();
  min-height: 100%;
  > .menu {
    .col-3();
    .d-flex();
    .flex-column();
    .py-4();
    .text-center();
    background-color: @primary;
    color: @white;
    > .company {
      > .logo {
        .mt-3();
        .rounded();
        width: 100px;
        height: 100px;
      }
      > .name {
        .mt-3();
        .mb-0();
        font-size: 26px;
      }
    }
    > .items {
      .mt-4();
      > .item {
        .d-flex();
        .align-items-center();
        .px-2();
        .py-1();
        border-radius: 4px;
        text-decoration: none;
        &:hover {
          background-color: rgba(0,0,0, 0.2);
        }
        > .icon {
          .mr-3();
          .text-center();
          width: 31px;
          font-size: 22px;
        }
        > .text {
          font-size: 14px;
        }
      }
    }
    > .bottom {
      .flex-grow-1();
      .d-flex();
      .align-items-end();
      .mt-4();
      .px-1();
      .account-btn {
        .btn();
        .btn-link();
        .rounded-circle();
        .cursor-pointer();
        .p-0();
        border: 3px solid @white;
        > .account-icon {
          .rounded-circle();
          width: 40px;
          height: 40px;
        }
      }
      .dropdown-menu {
        .ml-2();
      }
    }
  }
  > .content {
    .col-9();
    .px-4();
    .py-4();
    background-color: @white;
  }
}

#home {
  .payment {
    .card();
    text-decoration: none;
    color: inherit;
    &:hover, &:link, &:visited {
      text-decoration: none;
      color: inherit;
    }
    > .container {
      .card-body();
      .d-flex();
      > .photo {
        .flex-shrink-0();
        .rounded-circle();
        width: 60px;
        height: 60px;
      }
      > .content {
        .flex-grow-1();
        .ml-3();
        > .type {
          .d-flex();
          .align-items-center();
          .mb-2();
          > .ng-fa-icon {
            .d-inline-block();
            font-size: 25px;
          }
        }
      }
    }
  }
}

#company-settings {
  .logo {
    .d-block();
    .rounded();
    width: 160px;
    height: 160px;
  }
  .plan {
    .card();
    .actions {
      .d-flex();
      .justify-content-end();
      .px-3();
      .py-3();
      font-size: 20px;
      cursor: pointer;
    }
  }
}

#account-settings {
  .image {
    .d-block();
    .rounded-circle();
    width: 160px;
    height: 160px;
  }
}

#client {
  .basic-info {
    .d-flex();
    > .photo {
      .flex-shrink-0();
      .rounded-circle();
      width: 150px;
      height: 150px;
    }
    > .info {
      .flex-grow-1();
      .ml-4();
      > h1 {
        font-size: 30px;
      }
      .badge {
        .mr-2();
        .font-small();
      }
    }
  }
  .payment {
    .card();
    &:hover {
      .actions {
        visibility: visible !important;
      }
    }
    > .content {
      .card-body();
      > .type {
        .d-flex();
        .align-items-center();
        .mb-2();
        > .ng-fa-icon {
          .d-inline-block();
          font-size: 25px;
        }
      }
      > .info {
        .mb-2();
      }
      > .bottom {
        .d-flex();
        .align-items-center();
        > .badges {
          .flex-grow-1();
          > .badge {
            .mr-2();
            font-size: 14px;
          }
        }
        > .actions {
          visibility: hidden;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
  .task {
    .card();
    cursor: pointer;
    .badge {
      .mr-2();
      font-size: 14px;
    }
  }
}

#client-form {
  min-height: 100%;
  h1 {
    font-size: 34px;
  }
  .company-logo {
    .rounded();
    width: 100px;
    height: 100px;
  }
  .client-created {
    .jumbotron();
    .my-5();
    .bg-white();
    .text-center();
    .text-success();
    > .ng-fa-icon {
      font-size: 60px;
    }
  }
  .card {
    .text-black();
  }
}

#task {
  > .modal-header {
    .flex-column();
    align-items: unset;
    .badge {
      .mr-2();
      font-size: 16px;
    }
  }
  > .modal-body {
    .attachments {
      .mb-3();
    }
    .comments {
      > textarea {
        resize: none;
      }
    }
  }
}

#associate-plan {
  .plan {
    .card();
    &.selected {
      background-color: rgba(0,0,0,0.1);
    }
  }
}

#create-payment-order, #edit-payment-order {
  .method {
    .card();
    &.selected {
      background-color: rgba(0,0,0,0.1);
    }
    .ng-fa-icon {
      font-size: 35px;
    }
  }
}

#calendar {
  .popover-body {
    .text-center();
  }
}

.client {
  .card();
  text-decoration: none;
  color: inherit;
  &:hover, &:link, &:visited {
    text-decoration: none;
    color: inherit;
  }
  > .content {
    .card-body();
    .d-flex();
    > .photo {
      .flex-shrink-0();
      .rounded-circle();
      width: 60px;
      height: 60px;
    }
    > .info {
      .flex-grow-1();
      .ml-3();
    }
  }
}

.comment {
  .d-flex();
  .mt-3();
  > .icon {
    .mr-3();
    > img {
      .rounded-circle();
      width: 40px;
      height: 40px;
    }
  }
  > .content {
    > .account {
      .mb-1();
      font-weight: 600;
      font-size: 14px;
      > .time {
        .text-secondary();
        font-size: 14px;
        &:before {
          content: "\00b7\0020\0020";
        }
      }
    }
    > .balloon {
      .jumbotron();
      .px-3();
      .py-2();
      .mb-0();
      display: inline-block;
      > .text {
        .mb-0();
        white-space: pre-line;
      }
    }
  }
}

.attachment {
  .card();
  cursor: pointer;
  > .account {
    .px-3();
    .py-2();
    font-weight: 600;
    font-size: 13px;
    > .time {
      .text-secondary();
      font-size: 13px;
      &:before {
        content: "\00b7\0020\0020";
      }
    }
  }
  > .type {
    .py-3();
    .px-3();
    .bg-info();
    .text-center();
    .text-white();
  }
  > .content {
    .card-body();
    .px-3();
    .py-2();
    .text-center();
    .font-small();
  }
}

.palette {
  .d-flex();
  .flex-row();
  .flex-wrap();
  > .color {
    .d-flex();
    .align-items-center();
    .justify-content-center();
    .rounded-circle();
    .mx-1();
    .my-1();
    .cursor-pointer();
    width: 40px;
    height: 40px;
    &.bg-white {
      border: 1px solid #777777;
    }
    .fa-arrow-left {
      font-size: 25px;
    }
    .fa-check {
      font-size: 18px;
    }
  }
}