@white: #ffffff;
@primary: #1976d2;
@primary-dark: #0055ac;
@dark: #343a40;
@grey: #e9ecef;
@grey-border: #ced4da;

.column-count(@count) {
  -webkit-column-count: @count;
     -moz-column-count: @count;
          column-count: @count;
}

.appearance(@value) {
  -webkit-appearance: @value;
     -moz-appearance: @value;
          appearance: @value;
}

.user-select(@value) {
  -webkit-user-select: @value;
     -moz-user-select: @value;
      -ms-user-select: @value;
          user-select: @value;
}

.transform(@value) {
  -webkit-transform: @value;
      -ms-transform: @value;
          transform: @value;
}
