<ng-template #defaultTasksTemplate let-defaultTasks="defaultTasks">
  <div class="row">
    <div class="col">
      <span *ngFor="let defaultTask of defaultTasks; trackBy: trackByDefaultTask" class="badge badge-secondary my-1 mr-2 font-small">
        {{ defaultTask.name }}
        <fa-icon
          [icon]="['fas', 'pen']"
          [fixedWidth]="true"
          (click)="openSaveDefaultTask(defaultTask)"
          title="Editar"
          class="cursor-pointer ml-1">
        </fa-icon>
        <fa-icon
          [icon]="['fas', 'times']"
          [fixedWidth]="true"
          (click)="openDeleteDefaultTask(defaultTask)"
          title="Remover"
          class="cursor-pointer ml-1">
        </fa-icon>
      </span>
    </div>
  </div>
</ng-template>

<div *ngIf="!loading" id="company-settings">
  <div class="row">
    <div class="col">
      <h1 class="mb-0">Configurações da empresa</h1>
    </div>
  </div>
  <div class="row mt-4 px-4">
    <div class="col-auto">
      <div class="form-group">
        <img [src]="company.logo_url" class="logo"/>
        <label class="btn btn-primary btn-block btn-file mt-3">
          Alterar logo
          <input
            [disabled]="saving"
            (change)="updateCompanyLogo($event)"
            id="logo"
            name="logo"
            type="file"
            accept="image/*">
        </label>
      </div>
    </div>
    <div class="col px-4">
      <div class="row">
        <div class="col">
          <form #form="ngForm" (ngSubmit)="updateCompanyInfo()" novalidate>
            <div class="row">
              <div class="col form-group">
                <label for="name">
                  <h5 class="mb-0">Nome</h5>
                </label>
                <input
                  [(ngModel)]="company.name"
                  id="name"
                  name="name"
                  type="text"
                  class="form-control"
                  minlength="4"
                  required>
              </div>
              <div class="col form-group">
                <label for="contact-email">
                  <h5 class="mb-0">E-mail para contato</h5>
                </label>
                <input
                  [(ngModel)]="company.contact_email"
                  id="contact-email"
                  name="contact-email"
                  type="email"
                  class="form-control"
                  email
                  required>
              </div>
            </div>
            <div class="row">
              <div class="col-6 form-group">
                <label for="contact-phone">
                  <h5 class="mb-0">Telefone para contato</h5>
                </label>
                <input
                  [(ngModel)]="company.contact_phone"
                  [dropSpecialCharacters]="false"
                  [mask]="phoneMask"
                  [pattern]="phonePattern"
                  id="contact-phone"
                  name="contact-phone"
                  type="text"
                  class="form-control"
                  maxlength="17"
                  required>
              </div>
              <div class="col-6 form-group">
                <label for="website">
                  <h5 class="mb-0">Website</h5>
                </label>
                <input
                  [(ngModel)]="company.website"
                  id="website"
                  name="website"
                  type="text"
                  class="form-control">
              </div>
            </div>
            <button
              [disabled]="form.invalid || saving"
              type="submit"
              class="btn btn-primary">
              Atualizar
            </button>
          </form>
        </div>
      </div>
      <hr class="my-4"/>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>
              <h5 class="mb-0">Cor principal</h5>
            </label>
            <app-material-palette-picker
              [color]="company.primary_color"
              (colorSelected)="onColorSelected($event)">
            </app-material-palette-picker>
          </div>
          <div class="form-group">
            <label>
              <h5 class="mb-0">Cor do texto</h5>
            </label>
            <div class="palette">
              <span (click)="selectTextColor('#212529')" class="color bg-black text-white">
                <fa-icon *ngIf="selectedTextColor === '#212529'" [icon]="['fas', 'check']" [fixedWidth]="true"></fa-icon>
              </span>
              <span (click)="selectTextColor('#ffffff')" class="color bg-white text-black">
                <fa-icon *ngIf="selectedTextColor === '#ffffff'" [icon]="['fas', 'check']" [fixedWidth]="true"></fa-icon>
              </span>
            </div>
          </div>
          <button
            [disabled]="saving"
            (click)="updateCompanyColors()"
            type="button"
            class="btn btn-primary">
            Atualizar
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4"/>
  <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Contas</h3>
        </div>
        <div class="col-auto">
          <button (click)="openInvitation()" type="button" class="btn btn-primary">
            Convidar
          </button>
        </div>
      </div>
      <div class="mt-3">
        <div class="row">
          <div *ngFor="let account of accounts; trackBy: trackByAccount" class="col-12 mb-3">
            <div class="account">
              <img class="image" [src]="account.image_url">
              <div class="info">
                <h5 class="d-flex align-items-center mb-1">
                  {{ account.getFullName() }}
                  <span *ngIf="account.id === company.owner" class="badge">Admin</span>
                </h5>
                <p class="mb-0 text-secondary">{{ account.email }}</p>
              </div>
              <div class="actions">
                <fa-icon
                  *ngIf="company.owner === authenticatedAccount.id && company.owner !== account.id"
                  [icon]="['fas', 'trash']"
                  [fixedWidth]="true"
                  (click)="openRemoveAccount(account)"
                  class="cursor-pointer"
                  title="Remover">
                </fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4"/>
  <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Instituições</h3>
        </div>
        <div class="col-auto">
          <button (click)="openSaveInstitutions()" type="button" class="btn btn-primary">
            <span *ngIf="institutions.length === 0">Associar</span>
            <span *ngIf="institutions.length > 0">Atualizar</span>
          </button>
        </div>
      </div>
      <div *ngIf="institutions.length === 0" class="jumbotron mt-3 mb-0">
        <h5 class="mb-0 text-center">Nenhuma instituição associada</h5>
      </div>
      <div *ngIf="institutions.length > 0" class="mt-3">
        <div class="row">
          <div class="col">
            <span *ngFor="let institution of institutions; trackBy: trackByInstitution" class="badge badge-secondary font-small mb-2 mr-2">
              {{ institution.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4"/>
  <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Templates de e-mail</h3>
        </div>
        <div class="col-auto">
          <button (click)="openSaveMessageTemplate()" type="button" class="btn btn-primary">
            Cadastrar
          </button>
        </div>
      </div>
      <div *ngIf="messageTemplates.length === 0" class="jumbotron mt-3 mb-0">
        <h5 class="mb-0 text-center">Nenhum template cadastrado</h5>
      </div>
      <div *ngIf="messageTemplates.length > 0" class="mt-3">
        <div class="row">
          <div class="col">
            <span *ngFor="let messageTemplate of messageTemplates; trackBy: trackByMessageTemplate" class="badge badge-secondary my-1 mr-2 font-small">
              {{ messageTemplate.identifier }}
              <fa-icon
                [icon]="['fas', 'pen']"
                [fixedWidth]="true"
                (click)="openSaveMessageTemplate(messageTemplate)"
                title="Editar"
                class="cursor-pointer ml-1">
              </fa-icon>
              <fa-icon
                [icon]="['fas', 'times']"
                [fixedWidth]="true"
                (click)="openDeleteMessageTemplate(messageTemplate)"
                title="Remover"
                class="cursor-pointer ml-1">
              </fa-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4"/>
  <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Atividades padrões</h3>
        </div>
        <div class="col-auto">
          <button (click)="openSaveDefaultTask()" type="button" class="btn btn-primary">
            Cadastrar
          </button>
        </div>
      </div>
      <div *ngIf="!hasDefaultTasks()" class="jumbotron mt-3 mb-0">
        <h5 class="mb-0 text-center">Nenhuma atividade padrão cadastrada</h5>
      </div>
      <div *ngIf="hasDefaultTasks()" class="mt-3">
        <h5 class="mb-2">Para todos os clientes</h5>
        <ng-container *ngTemplateOutlet="defaultTasksTemplate; context: {defaultTasks: defaultTasks}"></ng-container>
        <ng-container *ngFor="let entry of defaultTasksByPlan | mapValues">
          <h5 class="my-2">{{ planById[entry.key].name }}</h5>
          <ng-container *ngTemplateOutlet="defaultTasksTemplate; context: {defaultTasks: entry.value}"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <hr class="my-4"/>
  <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Planos</h3>
        </div>
        <div class="col-auto">
          <button (click)="openSavePlan()" type="button" class="btn btn-primary">
            Cadastrar
          </button>
        </div>
      </div>
      <div *ngIf="plans.length === 0" class="jumbotron mt-3 mb-0">
        <h5 class="mb-0 text-center">Nenhum plano cadastrado</h5>
      </div>
      <div *ngIf="plans.length > 0" class="mt-3">
        <div class="row">
          <div *ngFor="let plan of plans; trackBy: trackByPlan" class="col-4 mb-3">
            <div class="plan">
              <div class="content">
                <h5 class="mb-0 px-3 py-2">{{ plan.name }}</h5>
                <h4
                  [ngStyle]="{'backgroundColor': getColor(plan.name)}"
                  class="mb-0 px-3 py-4 text-center text-white">
                  {{ plan.price | currency:company.currency }}
                </h4>
                <div class="actions">
                  <fa-icon
                    [icon]="['fas', 'pen']"
                    [fixedWidth]="true"
                    (click)="openSavePlan(plan)"
                    title="Editar">
                  </fa-icon>
                  <fa-icon
                    [icon]="['fas', 'trash']"
                    [fixedWidth]="true"
                    (click)="openDeletePlan(plan)"
                    title="Remover"
                    class="ml-2">
                  </fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
