<div *ngIf="!loading" id="edit-payment-order">
  <form #form="ngForm" (ngSubmit)="updatePaymentOrder()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title">Atualizar ordem de pagamento</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group mb-0">
        <label>Forma de pagamento</label>
        <div class="row">
          <div *ngFor="let availableMethod of availableMethods | values; trackBy: trackByIndex" (click)="selectMethod(availableMethod.id)" class="col-6 col-lg-4 mb-3 cursor-pointer">
            <div [ngClass]="{'selected': method === availableMethod.id}" class="method">
              <div class="card-body text-center">
                <fa-icon [icon]="availableMethod.icon" [fixedWidth]="true"></fa-icon>
                <p class="mt-2 mb-0">{{ availableMethod.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-row mb-2">
          <div class="col">
            <div class="form-group mb-0">
              <label for="amount">Valor</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{ company.currency | currencySymbol }}</span>
                </div>
                <input
                  [(ngModel)]="amount"
                  [dropSpecialCharacters]="false"
                  [mask]="currencyMask"
                  id="amount"
                  name="amount"
                  type="text"
                  class="form-control"
                  required>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-0">
              <label for="due-date">Vencimento</label>
              <div class="input-group">
                <input
                  #dueDate="ngModel"
                  #dueDatePicker="ngbDatepicker"
                  ngbDatepicker
                  [(ngModel)]="dueDateStruct"
                  [ngClass]="{'is-invalid': dueDate.invalid && (dueDate.dirty || dueDate.touched)}"
                  (keypress)="onlyDateChars($event)"
                  id="due-date"
                  name="due-date"
                  class="form-control"
                  placeholder="dd/mm/yyyy">
                <div class="input-group-append">
                  <button class="btn btn-info" (click)="dueDatePicker.toggle()" type="button">
                    <fa-icon [icon]="['fas', 'calendar-alt']" [fixedWidth]="true"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="form.invalid || saving"
        type="submit"
        class="btn btn-primary">
        Atualizar
      </button>
    </div>
  </form>
</div>
