/.dockerignore
/.eslintignore
/.eslintrc
/.git
/.gitignore
/client
/docker-compose.yml
/Dockerfile
/intercamb-website.log
/node_modules
/npm-debug.log
/server/config.yml
/tasks
/tslint.json
/tsconfig.json