/.dockerignore
/.eslintignore
/.eslintrc
/.git
/.gitignore
/ayro-website.log
/client
/docker-compose.yml
/Dockerfile
/newrelic_agent.log
/node_modules
/npm-debug.log
/server/config.yml
/tasks
/tslint.json
/tsconfig.json