<ng-template #addFieldPopoverTemplate>
  <app-add-task-field (add)="onFieldAdded($event)"></app-add-task-field>
</ng-template>
<ng-template #addChecklistPopoverTemplate>
  <app-add-task-checklist (add)="onChecklistAdded($event)"></app-add-task-checklist>
</ng-template>

<div id="edit-default-task">
  <form #form="ngForm" novalidate>
    <div class="modal-header align-items-center">
      <h5 *ngIf="!editingTaskName" (click)="editTaskName()" class="modal-title cursor-pointer">
        {{ defaultTask.name }}
      </h5>
      <input
        *ngIf="editingTaskName"
        [(ngModel)]="defaultTask.name"
        (blur)="stopEditingTaskName()"
        (keydown.enter)="stopEditingTaskName()"
        name="task-name"
        class="modal-title form-control"
        type="text"
        autofocus
        required>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="mb-3">Campos</h5>
      <div class="mb-3">
        <button
          #addFieldPopover
          [ngbPopover]="addFieldPopoverTemplate"
          [autoClose]="'outside'"
          [ngClass]="{'mb-3': defaultTask.fields.length > 0}"
          placement="bottom"
          class="btn btn-primary"
          type="button">
          <fa-icon [icon]="['fas', 'edit']" [fixedWidth]="true"></fa-icon>
          <span class="ml-2">Adicionar campo</span>
        </button>
        <app-task-fields
          [fields]="defaultTask.fields"
          [mode]="'config'"
          (fieldsChanges)="onFieldsChanged($event)"
          (statusChanges)="onFieldsStatusChanged($event)">
        </app-task-fields>
      </div>
      <h5 class="mb-3">Checklists</h5>
      <button
        #addChecklistPopover
        [ngbPopover]="addChecklistPopoverTemplate"
        [autoClose]="'outside'"
        [ngClass]="{'mb-3': defaultTask.checklists.length > 0}"
        placement="bottom"
        class="btn btn-primary"
        type="button">
        <fa-icon [icon]="['fas', 'list']" [fixedWidth]="true"></fa-icon>
        <span class="ml-2">Adicionar checklist</span>
      </button>
      <app-task-checklists
        [checklists]="defaultTask.checklists"
        [mode]="'config'"
        (checklistsChanges)="onChecklistsChanged($event)"
        (statusChanges)="onChecklistsStatusChanged($event)">
      </app-task-checklists>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="form.invalid || !fieldsValid || !checklistsValid"
        (click)="backToDefaultTasks()"
        class="btn btn-secondary"
        type="button">
        Voltar
      </button>
    </div>
  </form>
</div>
