<main id="landing-page">
  <section class="primary landing">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Intercamb.me</h1>
          <h2>O primeiro sistema online de gestão de clientes para sua assessoria de intercâmbio.</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="primary">
    <div class="container text-center">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4">Evolua agora!</h2>
          <h5 class="mb-4">Ainda usa planilhas e documentos na sua assessoria? Então chegou a hora de evoluir!</h5>
          <h5 class="mb-4 text-justify">Intercamb.me é um sistema de gestão com foco em assessorias de intercâmbio. Com o Intercamb.me você faz a gestão online dos seus clientes, organiza suas atividades diárias, armazena documentos, acompanha relatórios, controla os pagamentos dos seus clientes e muito mais! </h5>
          <h5 class="mb-0">Otimize e automatize as tarefas do dia-a-dia na sua assessoria de intercâmbio.</h5>
        </div>
      </div>
    </div>
  </section>
  <section class="secondary">
    <div class="container">
      <h2 class="mb-5 text-center">Conheça nossa plataforma!</h2>
      <div class="row">
        <div class="col">
          <img src="/assets/img/clients.png">
        </div>
        <div class="col">
          <h4>Gestão de clientes</h4>
          <p>Cadastre seus clientes e tenha acesso a suas informações em qualquer dispositivo.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="secondary-alt">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Gestão de documentos</h4>
          <p>Organize as atividades dos seus clientes.</p>
        </div>
        <div class="col">
          <img src="/assets/img/documents.png">
        </div>
      </div>
    </div>
  </section>
  <section class="secondary">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/assets/img/tasks.png">
        </div>
        <div class="col">
          <h4>Gestão de atividades</h4>
          <p>Organize as atividades dos seus clientes.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="secondary-alt">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Calendário</h4>
          <p>Cadastre seus clientes e tenha acesso a suas informações em qualquer dispositivo.</p>
        </div>
        <div class="col">
          <img src="/assets/img/calendar.png">
        </div>
      </div>
    </div>
  </section>
  <section class="secondary">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/assets/img/reports.png">
        </div>
        <div class="col">
          <h4>Relatórios</h4>
          <p>Organize as atividades dos seus clientes.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="primary">
    <div class="container text-center">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4">Quanto custa?</h2>
          <h4 class="mb-4 text-left">Você paga de acordo com seu crescimento. Criamos diversos planos pensando no tamanho da sua assessoria. Os planos levam em consideração apenas a quantidade de clientes que estão em processo de assessoria atualmente.</h4>
          <button
            [routerLink]="['/plans']"
            type="button"
            class="btn btn-info btn-lg">
            Confira aqui os planos
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
