<ng-template #cellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">
      {{ day.badgeTotal }}
    </span>
    <span class="cal-day-number">
      {{ day.date | calendarDate:"monthViewDayNumber":locale }}
    </span>
  </div>
  <div class="my-1 text-center text-white">
    <span
      *ngFor="let event of day.events; trackBy: trackByIndex"
      #eventGroupPopover="ngbPopover"
      [ngbPopover]="eventPopoverTemplate"
      [style.background-color]="event.color.primary"
      (mouseenter)="openEventGroupPopover(eventGroupPopover, event)"
      (mouseleave)="closeEventGroupPopover(eventGroupPopover)"
      triggers="manual"
      class="badge mx-1 my-1 px-2 py-1">
      {{ event.meta.views.length }}
    </span>
  </div>
</ng-template>

<ng-template #eventPopoverTemplate let-event="event">
  <span
    *ngFor="let view of event.meta.views; trackBy: trackByIndex"
    class="badge badge-secondary mb-1 ml-1 mr-1 px-2 py-2">
    {{ view.client.forename }} {{ view.client.surname }}
  </span>
</ng-template>

<div *ngIf="!loading" id="home">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Assessorados</h4>
          <h1 class="text-center">{{ clientsCount }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h2>Próximas atividades</h2>
      <mwl-calendar-month-view
        [viewDate]="calendarDate"
        [events]="calendarEvents"
        [cellTemplate]="cellTemplate">
      </mwl-calendar-month-view>
    </div>
  </div>
</div>
