<div id="save-plan">
  <form #form="ngForm" novalidate>
    <div class="modal-header">
      <h4 *ngIf="!plan.id" class="modal-title">Cadastrar plano</h4>
      <h4 *ngIf="plan.id" class="modal-title">Atualizar plano</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          [(ngModel)]="name"
          id="name"
          name="name"
          type="text"
          class="form-control"
          required>
      </div>
      <div class="form-group">
        <label for="name">Preço</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">R$</span>
          </div>
          <input
            [(ngModel)]="price"
            [dropSpecialCharacters]="false"
            id="price"
            name="price"
            type="text"
            class="form-control"
            mask="0*.00"
            required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="!plan.id"
        [disabled]="form.invalid"
        (click)="createPlan()"
        class="btn btn-primary"
        type="button">
        Cadastrar
      </button>
      <button
        *ngIf="plan.id"
        [disabled]="form.invalid"
        (click)="updatePlan()"
        class="btn btn-primary"
        type="button">
        Atualizar
      </button>
    </div>
  </form>
</div>