<div *ngIf="!loading" id="save-plan">
  <app-edit-default-task *ngIf="selectedDefaultTask" [defaultTask]="selectedDefaultTask" [showBackButton]="true" (save)="saveDefaultTask($event)" (back)="backToPlan()"></app-edit-default-task>
  <form *ngIf="!selectedDefaultTask" #form="ngForm" (ngSubmit)="!plan.id ? createPlan() : updatePlan()" novalidate>
    <div class="modal-header">
      <h4 *ngIf="!plan.id" class="modal-title">Cadastrar plano</h4>
      <h4 *ngIf="plan.id" class="modal-title">Atualizar plano</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          [(ngModel)]="name"
          id="name"
          name="name"
          type="text"
          class="form-control"
          required>
      </div>
      <div class="form-group">
        <label for="name">Preço</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">R$</span>
          </div>
          <input
            [(ngModel)]="price"
            [dropSpecialCharacters]="false"
            [mask]="currencyMask"
            id="price"
            name="price"
            type="text"
            class="form-control"
            required>
        </div>
      </div>
      <div class="form-group mb-0">
        <label>Atividades padrões</label>
        <div class="form-row">
          <div class="col form-group">
            <input
              [(ngModel)]="newDefaultTask.name"
              (keydown.enter)="addDefaultTask(); false"
              name="task-name"
              type="text"
              class="form-control"
              placeholder="Nome da atividade">
          </div>
          <div class="col-auto form-group">
            <button
              [disabled]="!newDefaultTask.name"
              (click)="addDefaultTask()"
              class="btn btn-primary"
              type="button">
              Adicionar
            </button>
          </div>
        </div>
        <div>
          <span *ngFor="let defaultTask of defaultTasks" class="badge badge-secondary mb-2 mr-2">
            {{ defaultTask.name }}
            <fa-icon
              [icon]="['fas', 'pen']"
              [fixedWidth]="true"
              (click)="editDefaultTask(defaultTask)"
              title="Editar"
              class="cursor-pointer ml-1">
            </fa-icon>
            <fa-icon
              [icon]="['fas', 'times']"
              [fixedWidth]="true"
              (click)="removeDefaultTask(defaultTask)"
              title="Remover"
              class="cursor-pointer ml-1">
            </fa-icon>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="!plan.id"
        [disabled]="form.invalid || saving"
        class="btn btn-primary"
        type="submit">
        Cadastrar
      </button>
      <button
        *ngIf="plan.id"
        [disabled]="form.invalid || saving"
        class="btn btn-primary"
        type="submit">
        Atualizar
      </button>
    </div>
  </form>
</div>
