<div id="delete-plan">
  <form #form="ngForm" (ngSubmit)="deleteClient()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title">Remover cliente</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="mb-0">Tem certeza que deseja remover <b>"{{ client.getFullName() }}</b>? Todos os dados associados ao cliente serão removidos.</p>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="form.invalid || deleting"
        class="btn btn-danger"
        type="submit">
        Remover
      </button>
    </div>
  </form>
</div>
