<div id="delete-plan">
  <form #form="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title">Remover cliente</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Tem certeza que deseja remover este cliente? Todos os dados associados ao cliente será removido.</p>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="form.invalid || deleting"
        (click)="deleteClient()"
        class="btn btn-danger"
        type="submit">
        Remover
      </button>
    </div>
  </form>
</div>