<div *ngIf="!loading" id="client">
  <div class="basic-info">
    <img class="photo" [src]="client.photo_url">
    <div class="info">
      <h1>{{ client.getFullName() }}</h1>
      <h5 class="text-secondary">{{ client.email }}</h5>
      <h5 class="text-secondary">{{ client.phone }}</h5>
      <div class="row">
        <div class="col">
          <span
            *ngIf="client.needs_revision"
            title="{{ client.forename }} preencheu o formulário de cadastro de clientes. Agora é necessário revisar todas as informações."
            class="badge badge-danger">
            <fa-icon [icon]="['fas', 'check-double']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
            <span class="ml-1">Revisar</span>
          </span>
          <span
            *ngIf="client.personal_data.birthdate"
            [ngClass]="{'badge-danger': getAge() < 18, 'badge-secondary': getAge() >= 18}"
            class="badge">
            <fa-icon [icon]="['fas', 'birthday-cake']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
            <span class="ml-1">{{ getAge() }} anos</span>
          </span>
          <span
            *ngIf="client.plan"
            [ngStyle]="{'backgroundColor': getColor(client.plan.name)}"
            class="badge">
            <fa-icon [icon]="['fas', 'dollar-sign']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
            <span class="ml-1">{{ client.plan.name }}</span>
          </span>
          <span
            *ngIf="client.intended_course.name"
            class="badge badge-secondary">
            <fa-icon [icon]="['fas', 'graduation-cap']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
            <span class="ml-1">
              {{ client.intended_course.name }}
            </span>
          </span>
          <span
            *ngIf="client.intended_course.institution"
            class="badge badge-secondary">
            <fa-icon [icon]="['fas', 'school']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
            <span *ngIf="client.intended_course.institution.acronym" class="ml-1">
              {{ client.intended_course.institution.acronym }}
            </span>
            <span *ngIf="!client.intended_course.institution.acronym" class="ml-1">
              {{ client.intended_course.institution.name }}
            </span>
          </span>
        </div>
        <div class="col-auto text-right">
          <button (click)="openAssociatePlan()" type="button" class="btn btn-primary">
            <span *ngIf="!client.plan">Associar plano</span>
            <span *ngIf="client.plan">Alterar plano</span>
          </button>
          <a [routerLink]="['edit']" class="btn btn-primary ml-2">Editar dados</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <ng-container *ngIf="infoStep === 0">
        <div class="row">
          <div class="col">
            <h3>Dados pessoais</h3>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary mr-2" disabled>Anterior</button>
            <button (click)="nextInfoStep()" type="button" class="btn btn-primary">Próximo</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col form-group">
                <label>Nacionalidade</label>
                <p class="mb-0">{{ client.personal_data.nationality | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>Naturalidade</label>
                <p class="mb-0">
                  <span *ngIf="hasPlaceOfBirth()">
                    {{ client.personal_data.place_of_birth.city }} - {{ client.personal_data.place_of_birth.state }}
                  </span>
                  <span *ngIf="!hasPlaceOfBirth()">
                    {{ "" | hyphensIfEmpty }}
                  </span>
                </p>
              </div>
              <div class="col form-group">
                <label>RG</label>
                <p class="mb-0">
                  <span *ngIf="hasIdentityDocument()">
                    {{ client.personal_data.identity_document.number }} - {{ client.personal_data.identity_document.issuing_authority }} {{ client.personal_data.identity_document.state }}
                  </span>
                  <span *ngIf="!hasIdentityDocument()">
                    {{ "" | hyphensIfEmpty }}
                  </span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <label>CPF</label>
                <p class="mb-0">{{ client.personal_data.cpf_number | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>Passaporte</label>
                <p class="mb-0">{{ client.personal_data.passport_number | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>Data de nascimento</label>
                <p class="mb-0">{{ (client.personal_data.birthdate | date:"dd/MM/yyyy") || "" | hyphensIfEmpty }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 form-group mb-0">
                <label>Sexo</label>
                <p class="mb-0">{{ client.personal_data.gender | hyphensIfEmpty }}</p>
              </div>
              <div class="col-4 form-group mb-0">
                <label>Estado Civil</label>
                <p class="mb-0">{{ client.personal_data.marital_status | hyphensIfEmpty }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="infoStep === 1">
        <div class="row">
          <div class="col">
            <h2>Endereço</h2>
          </div>
          <div class="col-auto">
            <button (click)="previousInfoStep()" type="button" class="btn btn-primary mr-2">Anterior</button>
            <button (click)="nextInfoStep()" type="button" class="btn btn-primary">Próximo</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col form-group">
                <label>Logradouro</label>
                <p class="mb-0">{{ client.address.public_place | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>Número</label>
                <p class="mb-0">{{ client.address.number | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>Complemento</label>
                <p class="mb-0">{{ client.address.complement | hyphensIfEmpty }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <label>Bairro</label>
                <p class="mb-0">{{ client.address.neighborhood | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>Cidade</label>
                <p class="mb-0">{{ client.address.city | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>Estado</label>
                <p class="mb-0">{{ client.address.state | hyphensIfEmpty }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col form-group mb-0">
                <label>CEP</label>
                <p class="mb-0">{{ client.address.zip_code | hyphensIfEmpty }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="infoStep === 2">
        <div class="row">
          <div class="col">
            <h2>Dados familiares</h2>
          </div>
          <div class="col-auto">
            <button (click)="previousInfoStep()" type="button" class="btn btn-primary mr-2">Anterior</button>
            <button (click)="nextInfoStep()" type="button" class="btn btn-primary">Próximo</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3 class="mb-3">Sobre a mãe</h3>
                <div class="form-group">
                  <label>Nome completo</label>
                  <p class="mb-0">{{ client.family_data.mother.name | hyphensIfEmpty }}</p>
                </div>
                <div class="form-group">
                  <label>E-mail</label>
                  <p class="mb-0">{{ client.family_data.mother.email | hyphensIfEmpty }}</p>
                </div>
                <div class="form-group mb-0">
                  <label>Telefone</label>
                  <p class="mb-0">{{ client.family_data.mother.phone | hyphensIfEmpty }}</p>
                </div>
              </div>
              <div class="vr"></div>
              <div class="col">
                <h3 class="mb-3">Sobre o pai</h3>
                <div class="form-group">
                  <label>Nome completo</label>
                  <p class="mb-0">{{ client.family_data.father.name | hyphensIfEmpty }}</p>
                </div>
                <div class="form-group">
                  <label>E-mail</label>
                  <p class="mb-0">{{ client.family_data.father.email | hyphensIfEmpty }}</p>
                </div>
                <div class="form-group mb-0">
                  <label>Telefone</label>
                  <p class="mb-0">{{ client.family_data.father.phone | hyphensIfEmpty }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="infoStep === 3">
        <div class="row">
          <div class="col">
            <h2>Em caso de emergência</h2>
          </div>
          <div class="col-auto">
            <button (click)="previousInfoStep()" type="button" class="btn btn-primary mr-2">Anterior</button>
            <button (click)="nextInfoStep()" type="button" class="btn btn-primary">Próximo</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col form-group">
                <label>Responsável</label>
                <p class="mb-0">{{ client.in_case_of_emergency.responsible | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>Vínculo</label>
                <p class="mb-0">{{ client.in_case_of_emergency.bond | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>E-mail</label>
                <p class="mb-0">{{ client.in_case_of_emergency.email | hyphensIfEmpty }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 form-group mb-0">
                <label>Telefone</label>
                <p class="mb-0">{{ client.in_case_of_emergency.phone | hyphensIfEmpty }}</p>
              </div>
              <div class="col-4 form-group mb-0">
                <label>Telefone alternativo</label>
                <p class="mb-0">{{ client.in_case_of_emergency.alternative_phone | hyphensIfEmpty }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="infoStep === 4">
        <div class="row">
          <div class="col">
            <h2>Dados acadêmicos</h2>
          </div>
          <div class="col-auto">
            <button (click)="previousInfoStep()" type="button" class="btn btn-primary mr-2">Anterior</button>
            <button (click)="nextInfoStep()" type="button" class="btn btn-primary">Próximo</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3 class="mb-3">Ensino médio</h3>
                <div class="form-group">
                  <label>Nome da escola</label>
                  <p class="mb-0">{{ client.academic_data.high_school.school | hyphensIfEmpty }}</p>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <label>Cidade</label>
                    <p class="mb-0">{{ client.academic_data.high_school.city | hyphensIfEmpty }}</p>
                  </div>
                  <div class="col form-group">
                    <label>Estado</label>
                    <p class="mb-0">{{ client.academic_data.high_school.state | hyphensIfEmpty }}</p>
                  </div>
                </div>
                <div class="form-group mb-0">
                  <label>Ano de conclusão</label>
                  <p class="mb-0">{{ client.academic_data.high_school.conclusion_year | hyphensIfEmpty }}</p>
                </div>
              </div>
              <div class="vr"></div>
              <div class="col">
                <h3 class="mb-3">Ensino superior</h3>
                <div class="form-group">
                  <label>Nome da instituição</label>
                  <p class="mb-0">{{ client.academic_data.higher_education.institution | hyphensIfEmpty }}</p>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <label>Cidade</label>
                    <p class="mb-0">{{ client.academic_data.higher_education.city | hyphensIfEmpty }}</p>
                  </div>
                  <div class="col form-group">
                    <label>Estado</label>
                    <p class="mb-0">{{ client.academic_data.higher_education.state | hyphensIfEmpty }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label>Curso</label>
                  <p class="mb-0">{{ client.academic_data.higher_education.course | hyphensIfEmpty }}</p>
                </div>
                <div class="form-group mb-0">
                  <label>Ano de conclusão</label>
                  <p class="mb-0">{{ client.academic_data.higher_education.conclusion_year | hyphensIfEmpty }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="infoStep === 5">
        <div class="row">
          <div class="col">
            <h2>Curso pretendido</h2>
          </div>
          <div class="col-auto">
            <button (click)="previousInfoStep()" type="button" class="btn btn-primary mr-2">Anterior</button>
            <button (click)="nextInfoStep()" type="button" class="btn btn-primary">Próximo</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col form-group">
                <label>Nome do curso</label>
                <p class="mb-0">{{ client.intended_course.name | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group">
                <label>Instituição</label>
                <p *ngIf="client.intended_course.institution" class="mb-0">
                  <span *ngIf="client.intended_course.institution.acronym">
                    {{ client.intended_course.institution.acronym | hyphensIfEmpty }}
                  </span>
                  <span *ngIf="!client.intended_course.institution.acronym">
                    {{ client.intended_course.institution.name | hyphensIfEmpty }}
                  </span>
                </p>
                <p *ngIf="!client.intended_course.institution" class="mb-0">
                  {{ "" | hyphensIfEmpty }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col form-group mb-0">
                <label>Turno preferido</label>
                <p class="mb-0">{{ client.intended_course.preferred_shift | hyphensIfEmpty }}</p>
              </div>
              <div class="col form-group mb-0">
                <label>Segunda opção de turno</label>
                <p class="mb-0">{{ client.intended_course.alternative_shift | hyphensIfEmpty }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="infoStep === 6">
        <div class="row">
          <div class="col">
            <h2>Informações adicionais</h2>
          </div>
          <div class="col-auto">
            <button (click)="previousInfoStep()" type="button" class="btn btn-primary mr-2">Anterior</button>
            <button type="button" class="btn btn-primary" disabled>Próximo</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label>É portador de deficiência? Se sim, qual?</label>
              <p class="mb-0">{{ client.additional_information.disabilities | hyphensIfEmpty }}</p>
            </div>
            <div class="form-group">
              <label>Quando pretende chegar ao país?</label>
              <p class="mb-0">{{ (client.additional_information.arrival_date | date:"dd/MM/yyyy") || "" | hyphensIfEmpty }}</p>
            </div>
            <div class="form-group mb-0">
              <label>Como conheceu a empresa?</label>
              <p class="mb-0">{{ client.additional_information.how_did_you_know_the_company | hyphensIfEmpty }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Pagamentos</h3>
        </div>
        <div class="col-auto">
          <button (click)="openCreatePaymentOrder()" type="button" class="btn btn-primary">
            Registrar ordem
          </button>
        </div>
      </div>
      <div *ngIf="client.payment_orders.length === 0" class="jumbotron mt-3 mb-0">
        <h5 class="mb-0 text-center">Nenhuma ordem registrada</h5>
      </div>
      <div *ngIf="client.payment_orders.length > 0" class="row">
        <div *ngFor="let paymentOrder of client.payment_orders; let idx = index; trackBy: trackByPaymentOrder" class="col-6 my-2">
          <div class="payment">
            <div class="content">
              <div class="type">
                <fa-icon [icon]="paymentMethods[paymentOrder.method].icon" [fixedWidth]="true"></fa-icon>
                <h5 class="d-inline-block flex-grow-1 ml-2 mb-0">
                  {{ paymentMethods[paymentOrder.method].name }}
                </h5>
              </div>
              <div class="info">
                {{ paymentOrder.amount | currency:company.currency }}
                <span *ngIf="paymentOrder.due_date">· {{ paymentOrder.due_date | date:"MMM d, y" | titlecase }}</span>
              </div>
              <div class="bottom">
                <div class="badges">
                  <span
                    *ngIf="!paymentOrder.payment_date"
                    [ngClass]="{
                      'badge-secondary': !isOverduePayment(paymentOrder),
                      'badge-orange': isOverduePayment(paymentOrder)
                    }"
                    class="badge">
                    <span>Pendente</span>
                    <fa-icon
                      [icon]="['fas', 'pen']"
                      [fixedWidth]="true"
                      (click)="openChangePaymentOrderStatus(paymentOrder)"
                      title="Alterar"
                      class="inherit-line-height cursor-pointer ml-2">
                    </fa-icon>
                  </span>
                  <span *ngIf="paymentOrder.payment_date" class="badge badge-success">
                    <span>Pago</span>
                    <fa-icon
                      [icon]="['fas', 'pen']"
                      [fixedWidth]="true"
                      (click)="openChangePaymentOrderStatus(paymentOrder)"
                      title="Alterar"
                      class="inherit-line-height cursor-pointer ml-2">
                    </fa-icon>
                  </span>
                  <span *ngIf="paymentOrder.payment_date" class="badge badge-deep-orange">
                    <fa-icon [icon]="['far', 'clock']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
                    <span class="ml-1">{{ paymentOrder.payment_date | date:"MMM d, y" | titlecase }}</span>
                  </span>
                </div>
                <div class="actions">
                  <fa-icon
                    [icon]="['fas', 'pen']"
                    [fixedWidth]="true"
                    (click)="openEditPaymentOrder(paymentOrder)"
                    title="Editar">
                  </fa-icon>
                  <fa-icon
                    [icon]="['fas', 'trash']"
                    [fixedWidth]="true"
                    (click)="openDeletePaymentOrder(paymentOrder)"
                    title="Remover"
                    class="ml-2">
                  </fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Atividades</h3>
        </div>
        <div class="col-auto">
          <button (click)="openCreateTask()" type="button" class="btn btn-primary">
            Criar atividade
          </button>
        </div>
      </div>
      <div *ngIf="client.tasks.length === 0" class="jumbotron mt-3 mb-0">
        <h5 class="mb-0 text-center">Nenhuma atividade criada</h5>
      </div>
      <ngx-masonry *ngIf="client.tasks.length > 0" [options]="masonryOptions" class="row">
        <ngxMasonryItem *ngFor="let task of client.tasks; trackBy: trackByTask" class="col-6" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
          <div (click)="openTask(task)" class="task">
            <div class="card-body">
              <h5 class="card-title">{{ task.name }}</h5>
              <div class="badges">
                <span class="badge badge-{{ taskStatus[task.status].colorSelector }}">
                  {{ taskStatus[task.status].name }}
                </span>
                <span *ngIf="task.counters.comments > 0" class="badge badge-secondary">
                  <fa-icon [icon]="['far', 'comment']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
                  <span class="ml-1">{{ task.counters.comments }}</span>
                </span>
                <span *ngIf="task.counters.attachments > 0" class="badge badge-secondary">
                  <fa-icon [icon]="['fas', 'paperclip']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
                  <span class="ml-1">{{ task.counters.attachments }}</span>
                </span>
                <span *ngIf="task.schedule_date" class="badge badge-deep-orange">
                  <fa-icon [icon]="['far', 'clock']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
                  <span class="ml-1">{{ task.schedule_date | date:"MMM d, y" | titlecase }}</span>
                </span>
              </div>
            </div>
          </div>
        </ngxMasonryItem>
      </ngx-masonry>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <button (click)="openDeleteClient()" type="button" class="btn btn-danger float-right">
        Remover
      </button>
    </div>
  </div>
</div>