<div id="delete-plan">
  <form #form="ngForm" (ngSubmit)="deletePlan()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title">Remover plano</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="mb-0">Tem certeza que deseja remover o plano <b>"{{ plan.name }}"</b>? Todos os clientes e atividades serão desassociados deste plano. As atividades padrões associadas ao plano serão removidas.</p>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="form.invalid || deleting"
        class="btn btn-danger"
        type="submit">
        Remover
      </button>
    </div>
  </form>
</div>
