<footer>
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <div class="social">
          <a target="_blank" href="https://www.facebook.com/intercamb.me">
            <fa-icon [icon]="['fab', 'facebook']" [fixedWidth]="true"></fa-icon>
          </a>
          <a class="ml-3" target="_blank" href="https://www.twitter.com/intercambme">
            <fa-icon [icon]="['fab', 'twitter']" [fixedWidth]="true"></fa-icon>
          </a>
          <a class="ml-3" target="_blank" href="https://www.instagram.com/intercamb.me">
            <fa-icon [icon]="['fab', 'instagram']" [fixedWidth]="true"></fa-icon>
          </a>
        </div>
      </div>
      <div class="col">
        <p class="font-weight-bold mb-2">EMPRESA</p>
        <p class="mb-0"><a [routerLink]="['/terms']">Termos de uso</a></p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="copyright text-right">
          <p>
            &copy; 2018 Todos os direitos reservados, Intercamb.me.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
