<div id="set-schedule-date">
  <form #form="ngForm" novalidate>
    <p class="font-normal">Esta atividade está marcada para que data?</p>
    <div class="form-row align-items-center justify-content-center mb-3">
      <div class="col-6">
        <div class="input-group">
          <input #selectedDate="ngModel" #selectedDatePicker="ngbDatepicker" ngbDatepicker [(ngModel)]="selectedDateStruct" [ngClass]="{'is-invalid': selectedDate.invalid && (selectedDate.dirty || selectedDate.touched)}" (keypress)="onlyDateChars($event)" name="selected-date" class="form-control" placeholder="dd/mm/yyyy" required>
          <div class="input-group-append">
            <button (click)="selectedDatePicker.toggle()" type="button" class="btn btn-info">
              <fa-icon [icon]="['fas', 'calendar-alt']" [fixedWidth]="true"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <ngb-timepicker [(ngModel)]="selectedTimeStruct" [spinners]="false" name="selected-time" required></ngb-timepicker>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button
        *ngIf="task.schedule_date"
        [disabled]="saving"
        (click)="removeScheduleDate()"
        type="button"
        class="btn btn-danger mr-2">
        Remover
      </button>
      <button
        [disabled]="form.invalid || saving"
        (click)="confirmScheduleDate()"
        type="button"
        class="btn btn-primary">
        Salvar
      </button>
    </div>
  </form>
</div>
