<div id="set-schedule-date">
  <form #form="ngForm" novalidate>
    <div class="modal-header">
      <h4 *ngIf="!task.schedule_date" class="modal-title">Marcar data</h4>
      <h4 *ngIf="task.schedule_date" class="modal-title">Alterar data</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">Esta atividade está marcada para que data?</h5>
          <div class="form-row align-items-center justify-content-center">
            <div class="col-5">
              <div class="input-group">
                <input #selectedDate="ngModel" #selectedDatePicker="ngbDatepicker" ngbDatepicker [(ngModel)]="selectedDateStruct" [ngClass]="{'is-invalid': selectedDate.invalid && (selectedDate.dirty || selectedDate.touched)}" [minDate]="todayDateStruct" (keypress)="onlyDateChars($event)" name="selected-date" class="form-control" placeholder="dd/mm/yyyy" required>
                <div class="input-group-append">
                  <button (click)="selectedDatePicker.toggle()" type="button" class="btn btn-info">
                    <fa-icon [icon]="calendarAlt"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <ngb-timepicker [(ngModel)]="selectedTimeStruct" [spinners]="false" name="selected-time" required></ngb-timepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="task.schedule_date"
        (click)="removeScheduleDate()"
        type="submit"
        class="btn btn-danger">
        Remover
      </button>
      <button
        [disabled]="form.invalid"
        (click)="confirmScheduleDate()"
        type="submit"
        class="btn btn-primary">
        Salvar
      </button>
    </div>
  </form>
</div>