<div *ngIf="!loading" id="clients">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="mb-0">Assessorados</h1>
    </div>
    <div class="col-auto">
      <button (click)="openSendForm()" type="button" class="btn btn-primary">
        Gerar formulário
      </button>
      <a [routerLink]="['/company', 'clients', 'new']" class="btn btn-primary ml-2">
        Cadastrar
      </a>
    </div>
  </div>
  <div *ngIf="clients.length === 0" class="jumbotron mt-4">
    <h3 class="text-center">Nenhum assessorado cadastrado</h3>
  </div>
  <ng-container *ngIf="clients.length > 0" >
    <div class="row mt-4">
      <div class="col-6">
        <form (submit)="searchClients()" novalidate>
          <div class="input-group">
            <input
              [(ngModel)]="search"
              type="text"
              name="search"
              class="form-control"
              placeholder="Busque pelo nome, email ou telefone.">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">
                Buscar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <ngx-masonry [options]="masonryOptions" class="row mt-3">
      <ngxMasonryItem *ngFor="let client of clients; trackBy: trackByClient" class="col-6" style="margin-bottom: 1rem;">
        <a [routerLink]="['/company', 'clients', client.id]" class="client">
          <div class="content">
            <img class="photo" [src]="client.photo_url">
            <div class="info">
              <h5>{{ client.forename }} {{ client.surname }}</h5>
              <p class="mb-2 text-secondary">{{ client.email }}</p>
              <p class="mb-0 text-secondary">{{ client.phone }}</p>
            </div>
          </div>
        </a>
      </ngxMasonryItem>
    </ngx-masonry>
  </ng-container>
</div>