<div *ngIf="!loading" id="register-payment-order">
  <form #form="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title">Nova ordem de pagamento</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group mb-0">
        <label>Forma de pagamento</label>
        <div class="row">
          <div *ngFor="let method of methods; trackBy: trackByIndex" (click)="selectMethod(method)" class="col-6 mb-3 cursor-pointer">
            <div [ngClass]="{'selected': selectedMethod && selectedMethod.name === method.name}" class="method">
              <div class="card-body text-center">
                <fa-icon [icon]="method.icon"></fa-icon>
                <p class="mt-2 mb-0">{{ method.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group mb-0">
            <label for="amount">Valor</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ company.currency | currencySymbol }}</span>
              </div>
              <input
                [(ngModel)]="amount"
                [dropSpecialCharacters]="false"
                (keyup)="onSplitChange()"
                id="amount"
                name="amount"
                type="text"
                class="form-control"
                mask="0*.00"
                required>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-0">
            <label for="split">Parcelado em</label>
            <input
              [(ngModel)]="split"
              (change)="onSplitChange()"
              id="split"
              name="split"
              type="number"
              class="form-control"
              min="1"
              required>
          </div>
        </div>
      </div>
      <div *ngIf="split > 1" class="form-group mt-3 mb-0">
        <label>Parcelas</label>
        <div class="form-row">
          <div *ngFor="let split of splitAmounts; let idx = index; trackBy: trackByIndex" class="col-6 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ idx + 1 }}º</span>
              </div>
              <input
                [(ngModel)]="splitAmounts[idx]"
                [dropSpecialCharacters]="false"
                name="split-amount-{{ idx }}"
                type="text"
                class="form-control"
                mask="0*.00"
                required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="!selectedMethod || form.invalid"
        (click)="registerPaymentOrder()"
        type="button"
        class="btn btn-primary">
        Registrar
      </button>
    </div>
  </form>
</div>