<ng-container *ngIf="!loading">
  <div id="company">
    <div class="menu" [ngStyle]="{
      'background-color': company.primary_color || undefined,
      'color': company.text_color || undefined
    }">
      <div class="company">
        <img class="logo" [src]="company.logo_url">
        <h1 class="name">{{ company.name }}</h1>
      </div>
      <div class="items">
        <a [routerLink]="['/company']" class="item">
          <span class="icon">
            <fa-icon [icon]="['fas', 'home']" [fixedWidth]="true"></fa-icon>
          </span>
          <span class="text">Início</span>
        </a>
        <a [routerLink]="['/company', 'clients']" class="item">
          <span class="icon">
            <fa-icon [icon]="['fas', 'users']" [fixedWidth]="true"></fa-icon>
          </span>
          <span class="text">Clientes</span>
        </a>
        <a [routerLink]="['/company', 'calendar']" class="item">
          <span class="icon">
            <fa-icon [icon]="['fas', 'calendar-alt']" [fixedWidth]="true"></fa-icon>
          </span>
          <span class="text">Calendário</span>
        </a>
        <a [routerLink]="['/company', 'reports']" class="item">
          <span class="icon">
            <fa-icon [icon]="['fas', 'chart-line']" [fixedWidth]="true"></fa-icon>
          </span>
          <span class="text">Relatórios</span>
        </a>
        <a [routerLink]="['/company', 'settings']" class="item">
          <span class="icon">
            <fa-icon [icon]="['fas', 'cog']" [fixedWidth]="true"></fa-icon>
          </span>
          <span class="text">Configurações</span>
        </a>
      </div>
      <div class="bottom">
        <div ngbDropdown placement="right-bottom">
          <button ngbDropdownToggle id="account-menu" class="account-btn">
            <img [src]="account.image_url" class="account-icon">
          </button>
          <div ngbDropdownMenu aria-labelledby="account-menu">
            <a [routerLink]="['/account', 'settings']" class="dropdown-item">Configurações</a>
            <a [routerLink]="['#']" (click)="logout()" class="dropdown-item">Sair</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
<app-alerts></app-alerts>