<ng-container *ngIf="!loading">
  <div id="company">
    <div class="menu" [ngStyle]="{
      'background-color': company.primary_color || undefined,
      'color': company.text_color || undefined
    }">
      <div class="company">
        <img class="logo" [src]="company.logo_url">
        <h1 class="name">{{ company.name }}</h1>
      </div>
      <div class="items">
        <a [routerLink]="['/company', 'clients']" class="item">
          <span class="icon"><i class="fas fa-users"></i></span>
          <span class="text">Assessorados</span>
        </a>
        <a [routerLink]="['/company', 'scheduling']" class="item">
          <span class="icon"><i class="fas fa-calendar-alt"></i></span>
          <span class="text">Agendamentos</span>
        </a>
        <a [routerLink]="['/company', 'reports']" class="item">
          <span class="icon"><i class="fas fa-chart-line"></i></span>
          <span class="text">Relatórios</span>
        </a>
        <a [routerLink]="['/company', 'settings']" class="item">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span class="text">Configurações</span>
        </a>
      </div>
      <div class="bottom">
        <div ngbDropdown placement="right-bottom">
          <button ngbDropdownToggle id="account-menu" class="btn btn-link p-0">
            <img [src]="account.icon_url" class="account-icon rounded-circle d-inline-block">
          </button>
          <div ngbDropdownMenu aria-labelledby="account-menu">
            <a [routerLink]="['/settings']" class="dropdown-item">Configurações</a>
            <a [routerLink]="['#']" (click)="logout()" class="dropdown-item">Sair</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
<app-alerts></app-alerts>