<div *ngIf="!loading" id="account-settings">
  <div class="row">
    <div class="col">
      <h1 class="mb-0">Configurações da conta</h1>
    </div>
  </div>
  <div class="row mt-4 px-4">
    <div class="col-auto">
      <div class="form-group">
        <img [src]="account.image_url" class="image"/>
        <label class="btn btn-primary btn-block btn-file mt-3">
          Alterar imagem
          <input
            [disabled]="saving"
            (change)="updateAccountImage($event)"
            id="image"
            name="image"
            type="file"
            accept="image/*">
        </label>
      </div>
    </div>
    <div class="col px-4">
      <form #form="ngForm" (ngSubmit)="updateAccount()" novalidate>
        <div class="row">
          <div class="col form-group">
            <label for="name">
              <h5 class="mb-0">Primeiro nome</h5>
            </label>
            <input
              [(ngModel)]="account.first_name"
              id="first-name"
              name="first-name"
              type="text"
              class="form-control"
              minlength="4"
              required>
          </div>
          <div class="col form-group">
            <label for="name">
              <h5 class="mb-0">Último nome</h5>
            </label>
            <input
              [(ngModel)]="account.last_name"
              id="last-name"
              name="last-name"
              type="text"
              class="form-control"
              minlength="4"
              required>
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label for="name">
              <h5 class="mb-0">E-mail</h5>
            </label>
            <input
              [(ngModel)]="account.email"
              id="email"
              name="email"
              type="text"
              class="form-control"
              email
              required>
          </div>
        </div>
        <button
          [disabled]="form.invalid || saving"
          type="submit"
          class="btn btn-primary">
          Atualizar
        </button>
      </form>
    </div>
  </div>
</div>
