<div *ngIf="!loading" id="associate-plan">
  <form novalidate>
    <div class="modal-header">
      <h4 *ngIf="!client.plan" class="modal-title">Associar plano</h4>
      <h4 *ngIf="client.plan" class="modal-title">Alterar plano</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="company.plans.length > 0" class="row">
        <div *ngFor="let plan of company.plans; trackBy: trackByPlan" (click)="selectPlan(plan)" class="col-6 col-lg-4 mb-3 cursor-pointer">
          <div [ngClass]="{'selected': selectedPlan && selectedPlan.id === plan.id}" class="plan">
            <div class="content">
              <h5 class="mb-0 px-3 py-2">{{ plan.name }}</h5>
              <h4
                [ngStyle]="{'backgroundColor': getColor(plan.name)}"
                class="mb-0 px-3 py-4 text-center text-white">
                {{ plan.price | currency:company.currency }}
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="company.plans.length === 0">
        <p class="mb-0">Nenhum plano cadastrado. Clique <a [routerLink]="['/company', 'settings']" (click)="close()" class="text-primary">aqui</a> para cadastrar os planos oferecidos por sua empresa.</p>
      </div>
    </div>
    <div *ngIf="company.plans.length > 0" class="modal-footer">
      <button
        *ngIf="!client.plan"
        [disabled]="!selectedPlan || updating"
        (click)="associatePlan()"
        type="button"
        class="btn btn-primary">
        Associar
      </button>
      <button
        *ngIf="client.plan && client.plan === selectedPlan.id"
        [disabled]="updating"
        (click)="dissociatePlan()"
        type="button"
        class="btn btn-danger">
        Desassociar
      </button>
      <button
        *ngIf="client.plan && client.plan !== selectedPlan.id"
        [disabled]="updating"
        (click)="associatePlan()"
        type="button"
        class="btn btn-primary">
        Alterar
      </button>
    </div>
  </form>
</div>