<div id="task">
  <div class="modal-header px-4">
    <div class="d-flex">
      <h4 class="modal-title flex-grow-1 mr-4">{{ task.name }}</h4>
      <button (click)="close()" type="button" class="close flex-shrink-0" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="mt-3">
      <span class="badge badge-{{ taskStatus[task.status].colorSelector }}">
        {{ taskStatus[task.status].name }}
      </span>
      <span *ngIf="task.comments.length > 0" class="badge badge-secondary">
        <fa-icon [icon]="['far', 'comment']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
        {{ task.comments.length }}
      </span>
      <span *ngIf="task.attachments.length > 0" class="badge badge-secondary">
        <fa-icon [icon]="['fas', 'paperclip']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
        {{ task.attachments.length }}
      </span>
      <span *ngIf="task.schedule_date" class="badge badge-orange">
        <fa-icon [icon]="['far', 'clock']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
        {{ task.schedule_date | date:"dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}
      </span>
    </div>
  </div>
  <div class="modal-body px-4 py-4">
    <div class="d-flex">
      <div class="flex-grow-1 mr-4">
        <div class="attachments">
          <h5>Arquivos</h5>
          <div *ngIf="task.attachments.length === 0" class="jumbotron py-5 mb-0 text-center">
            <p class="mb-0">Nenhum arquivo</p>
          </div>
          <div class="row">
            <div *ngFor="let attachment of task.attachments; trackBy: trackByAttachment" class="col-12 col-md-6 mb-3">
              <div (click)="openTaskAttachment(attachment)" class="attachment">
                <div *ngIf="accounts.get(attachment.account)" class="account">
                  {{ accounts.get(attachment.account).getFullName() }}
                  <span class="time">{{ formatDate(attachment.registration_date) }}</span>
                </div>
                <div class="type">
                  <h3 class="mb-0">{{ getAttachmentType(attachment) | uppercase }}</h3>
                </div>
                <div class="content">
                  <div>{{ attachment.name }}</div>
                  <div class="font-small text-secondary">{{ getAttachmentSize(attachment) }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comments">
          <h5>Comentários</h5>
          <textarea [(ngModel)]="comment" (keypress)="onCommentKeyPress($event)" (keyup)="onCommentKeyUp($event)" class="form-control mb-3" name="comment" [rows]="commentRows" placeholder="Deixe um comentário..."></textarea>
          <div *ngIf="task.comments.length === 0" class="jumbotron py-5 mb-0 text-center">
            <p class="mb-0">Nenhum comentário</p>
          </div>
          <div *ngFor="let comment of task.comments.slice().reverse(); trackBy: trackByComment" class="comment">
            <div class="icon">
              <img *ngIf="accounts.get(comment.account)" [src]="accounts.get(comment.account).icon_url">
            </div>
            <div class="content">
              <p *ngIf="accounts.get(comment.account)" class="account">
                {{ accounts.get(comment.account).getFullName() }}
                <span class="time">{{ formatDate(comment.registration_date) }}</span>
              </p>
              <div class="balloon">
                <p class="text">{{ comment.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-shrink-0 d-flex flex-column justify-content-start">
        <button (click)="openChangeStatus(task)" type="button" class="btn btn-primary d-flex align-items-center">
          <fa-icon [icon]="['fas', 'tasks']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span class="ml-2">Alterar estado</span>
        </button>
        <button (click)="openSetScheduleDate(task)" type="button" class="btn btn-primary d-flex align-items-center mt-2">
          <fa-icon [icon]="['far', 'clock']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span *ngIf="!task.schedule_date" class="ml-2">Marcar data</span>
          <span *ngIf="task.schedule_date" class="ml-2">Alterar data</span>
        </button>
        <label class="btn btn-primary btn-file d-flex align-items-center mt-2">
          <fa-icon [icon]="['fas', 'paperclip']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span class="ml-2">Anexar arquivo</span>
          <input (change)="addTaskAttachment($event)" type="file" name="file" accept="*/*">
        </label>
      </div>
    </div>
  </div>
</div>