<ng-template #changeStatusPopoverTemplate>
  <app-change-task-status [task]="task" (update)="onStatusChanged($event)"></app-change-task-status>
</ng-template>
<ng-template #setScheduleDatePopoverTemplate>
  <app-set-task-schedule-date [task]="task" (update)="onScheduleDateUpdated($event)"></app-set-task-schedule-date>
</ng-template>
<ng-template #setLocationPopoverTemplate>
  <app-set-task-location [task]="task" (update)="onLocationUpdated($event)"></app-set-task-location>
</ng-template>
<ng-template #addFieldPopoverTemplate>
  <app-add-task-field (add)="onFieldAdded($event)"></app-add-task-field>
</ng-template>
<ng-template #addChecklistPopoverTemplate>
  <app-add-task-checklist (add)="onChecklistAdded($event)"></app-add-task-checklist>
</ng-template>
<ng-template #remoteTaskPopoverTemplate>
  <app-delete-task [task]="task" (delete)="onTaskRemoved()"></app-delete-task>
</ng-template>

<div *ngIf="!loading" id="task">
  <div class="modal-header px-4">
    <div class="row">
      <div class="col">
        <h4 class="modal-title">{{ task.name }}</h4>
      </div>
      <div class="col-auto">
        <button (click)="close()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="mt-3">
      <span class="badge badge-{{ taskStatus[task.status].colorSelector }}">
        {{ taskStatus[task.status].name }}
      </span>
      <span *ngIf="counters.comments > 0" class="badge badge-secondary">
        <fa-icon [icon]="['fas', 'comment']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
        <span class="ml-1">{{ counters.comments }}</span>
      </span>
      <span *ngIf="counters.attachments > 0" class="badge badge-secondary">
        <fa-icon [icon]="['fas', 'paperclip']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
        <span class="ml-1">{{ counters.attachments }}</span>
      </span>
      <span *ngIf="task.schedule_date" class="badge badge-deep-orange">
        <fa-icon [icon]="['fas', 'clock']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
        <span class="ml-1">{{ task.schedule_date | date:"dd 'de' MMMM 'de' yyyy 'às' HH:mm" }}</span>
      </span>
      <span *ngIf="task.place" class="badge badge-info">
        <fa-icon [icon]="['fas', 'map-marker-alt']" [fixedWidth]="true" class="inherit-line-height"></fa-icon>
        <span class="ml-1">{{ task.place.formatted_address }}</span>
      </span>
    </div>
  </div>
  <div class="modal-body px-4 py-4">
    <div class="row">
      <div class="col">
        <div *ngIf="fields.length > 0" class="mb-3">
          <app-task-fields
            [fields]="fields"
            (fieldsChanges)="onFieldsChanged($event)">
          </app-task-fields>
        </div>
        <div *ngIf="checklists.length > 0" class="mb-3">
          <h5>Checklists</h5>
          <app-task-checklists
            [checklists]="checklists"
            (checklistsChanges)="onChecklistsChanged($event)">
          </app-task-checklists>
        </div>
        <div *ngIf="attachments.length > 0" class="attachments">
          <h5>Arquivos</h5>
          <div class="row">
            <div *ngFor="let attachment of attachments; trackBy: trackByAttachment" class="col col-md-6 my-2">
              <div (click)="openTaskAttachment(attachment)" class="attachment">
                <div class="account">
                  {{ attachment.account.getFullName() }}
                  <span class="time">{{ formatDate(attachment.registration_date) }}</span>
                </div>
                <div class="type">
                  <h4 class="mb-0">{{ getAttachmentType(attachment) | uppercase }}</h4>
                </div>
                <div class="content">
                  <div>{{ attachment.name }}</div>
                  <div class="text-secondary">{{ getAttachmentSize(attachment) }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comments">
          <h5>Comentários</h5>
          <textarea [(ngModel)]="comment" (keypress)="onCommentKeyPress($event)" (keyup)="onCommentKeyUp($event)" class="form-control mb-3" name="comment" [rows]="commentRows" placeholder="Deixe um comentário..."></textarea>
          <div *ngIf="comments.length === 0" class="jumbotron py-5 mb-0 text-center">
            <p class="mb-0">Nenhum comentário</p>
          </div>
          <div *ngFor="let comment of comments.slice().reverse(); trackBy: trackByComment" class="comment">
            <div class="icon">
              <img *ngIf="comment.account" [src]="comment.account.image_url">
            </div>
            <div class="content">
              <p class="account">
                {{ comment.account.getFullName() }}
                <span class="time">{{ formatDate(comment.registration_date) }}</span>
              </p>
              <div class="balloon">
                <p class="text">{{ comment.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto d-flex flex-column justify-content-start">
        <button
          #changeStatusPopover
          [ngbPopover]="changeStatusPopoverTemplate"
          [autoClose]="'outside'"
          placement="left"
          type="button"
          class="btn btn-primary d-flex align-items-center">
          <fa-icon [icon]="['fas', 'tasks']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span class="ml-2">Alterar status</span>
        </button>
        <label class="btn btn-primary btn-file d-flex align-items-center mt-2 mb-0">
          <fa-icon [icon]="['fas', 'paperclip']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span class="ml-2">Anexar arquivo</span>
          <input (change)="addTaskAttachment($event)" type="file" name="file" accept="*/*">
        </label>
        <button
          #setScheduleDatePopover
          [ngbPopover]="setScheduleDatePopoverTemplate"
          [autoClose]="'outside'"
          placement="left"
          type="button"
          class="btn btn-primary d-flex align-items-center mt-2">
          <fa-icon [icon]="['fas', 'clock']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span *ngIf="!task.schedule_date" class="ml-2">Marcar data</span>
          <span *ngIf="task.schedule_date" class="ml-2">Alterar data</span>
        </button>
        <button
          #setLocationPopover
          [ngbPopover]="setLocationPopoverTemplate"
          [autoClose]="'outside'"
          placement="left"
          type="button"
          class="btn btn-primary d-flex align-items-center mt-2">
          <fa-icon [icon]="['fas', 'map-marker-alt']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span class="ml-2">Localização</span>
        </button>
        <button
          #addFieldPopover
          [ngbPopover]="addFieldPopoverTemplate"
          [autoClose]="'outside'"
          placement="left"
          type="button"
          class="btn btn-primary d-flex align-items-center mt-2">
          <fa-icon [icon]="['fas', 'edit']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span class="ml-2">Campo</span>
        </button>
        <button
          #addChecklistPopover
          [ngbPopover]="addChecklistPopoverTemplate"
          [autoClose]="'outside'"
          placement="left"
          type="button"
          class="btn btn-primary d-flex align-items-center mt-2">
          <fa-icon [icon]="['fas', 'list']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span class="ml-2">Checklist</span>
        </button>
        <button
          #removeTaskPopover
          [ngbPopover]="remoteTaskPopoverTemplate"
          [autoClose]="'outside'"
          placement="left"
          type="button"
          class="btn btn-danger d-flex align-items-center mt-2">
          <fa-icon [icon]="['fas', 'trash']" [fixedWidth]="true" class="flex-shrink-0"></fa-icon>
          <span class="ml-2">Remover</span>
        </button>
      </div>
    </div>
  </div>
</div>
