<ng-template #monthCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">
      {{ day.badgeTotal }}
    </span>
    <span class="cal-day-number">
      {{ day.date | calendarDate:"monthViewDayNumber":locale }}
    </span>
  </div>
  <div class="my-1 text-center text-white">
    <span
      *ngFor="let event of day.events; trackBy: trackByIndex"
      #eventGroupPopover="ngbPopover"
      [ngbPopover]="monthEventPopoverTemplate"
      [style.background-color]="event.color.primary"
      (mouseenter)="openEventGroupPopover(eventGroupPopover, event)"
      (mouseleave)="closeEventGroupPopover(eventGroupPopover)"
      triggers="manual"
      class="badge mx-1 my-1">
      {{ event.meta.tasks.length }}
    </span>
  </div>
</ng-template>

<ng-template #monthEventPopoverTemplate let-event="event">
  <span
    *ngFor="let task of event.meta.tasks; trackBy: trackByIndex"
    class="badge badge-secondary mb-1 ml-1 mr-1">
    {{ task.client.getFullName() }}
  </span>
</ng-template>

<div id="calendar">
  <div class="row">
    <div class="col">
      <h1 class="mb-0">Agendamentos</h1>
    </div>
  </div>
  <div class="row align-items-center mt-4">
    <div class="col">
      <div class="btn-group">
        <div
          mwlCalendarPreviousView
          [(viewDate)]="calendarDate"
          [view]="calendarView"
          (viewDateChange)="fetchEvents()"
          class="btn btn-primary">
          Anterior
        </div>
        <div
          mwlCalendarToday
          [(viewDate)]="calendarDate"
          (viewDateChange)="fetchEvents()"
          class="btn btn-primary">
          Atual
        </div>
        <div
          mwlCalendarNextView
          [(viewDate)]="calendarDate"
          [view]="calendarView"
          (viewDateChange)="fetchEvents()"
          class="btn btn-primary" >
          Próximo
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="btn-group">
        <div
          (click)="setCalendarView('month')"
          [class.active]="calendarView === 'month'"
          class="btn btn-primary">
          Mês
        </div>
        <div
          (click)="setCalendarView('day')"
          [class.active]="calendarView === 'day'"
          class="btn btn-primary">
          Dia
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-3 mb-0 text-center">
    <span *ngIf="calendarView === 'month'">
      {{ calendarDate | date:"MMMM 'de' yyyy" | capitalizeFirst }}
    </span>
    <span *ngIf="calendarView === 'week'">
      {{ calendarDate | date:"W'º semana de' MMMM 'de' yyyy" | capitalizeFirst }}
    </span>
    <span *ngIf="calendarView === 'day'">
      {{ calendarDate | date:"fullDate" | capitalizeFirst }}
    </span>
  </h3>
  <div [ngSwitch]="calendarView" class="mt-3">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="calendarDate"
      [events]="calendarMonthEvents"
      [cellTemplate]="monthCellTemplate"
      (dayClicked)="onDayClicked($event.day.date)">
    </mwl-calendar-month-view>
    <ng-container *ngSwitchCase="'day'">
      <div *ngIf="(calendarDayEvents | size) === 0" class="jumbotron">
        <h5 class="mb-0 text-center">Nenhuma atividade neste dia</h5>
      </div>
      <ng-container *ngIf="(calendarDayEvents | size) > 0">
        <div *ngFor="let eventsByHour of calendarDayEvents | mapValues; trackBy: trackByIndex" class="mb-4">
          <h4 class="jumbotron px-4 py-2 mb-2">{{ eventsByHour.key }}</h4>
          <div *ngFor="let tasksByEvent of eventsByHour.value | mapValues; trackBy: trackByIndex" class="card mb-2">
            <div class="card-body">
              <h5>{{ tasksByEvent.key }}</h5>
              <a
                *ngFor="let task of tasksByEvent.value; trackBy: trackByIndex"
                [routerLink]="['/company', 'clients', task.client.id]"
                class="badge badge-secondary my-1 mr-2 font-small">
                {{ task.client.getFullName() }}
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>