<div id="change-status">
  <form #form="ngForm" novalidate>
    <ng-container *ngFor="let status of taskStatus; trackBy: trackByIndex">
      <button
        (click)="changeStatus(status.id)"
        class="btn btn-{{ status.colorSelector }} btn-block my-1"
        type="button">
        <fa-icon
          *ngIf="task.status === status.id"
          [icon]="['fas', 'check']"
          [fixedWidth]="true"
          class="d-inline-block mr-2">
        </fa-icon>
        <span>{{ status.name }}</span>
      </button>
    </ng-container>
  </form>
</div>
