<div id="change-task-status">
  <form #form="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title">Alterar status</h4>
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-4">
          <ng-container *ngFor="let status of taskStatus; trackBy: trackByIndex">
            <button
              (click)="changeStatus(status.id)"
              class="btn btn-{{ status.colorSelector }} btn-block mb-2"
              type="button">
              <fa-icon
                *ngIf="task.status === status.id"
                [icon]="icons.check"
                class="mr-2">
              </fa-icon>
              {{ status.name }}
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>