<div id="set-location">
  <form #form="ngForm" (ngSubmit)="saveLocation()" novalidate>
    <input
      appGooglePlaces
      (selectPlace)="selectPlace($event)"
      type="text"
      type="text"
      class="form-control"
      placeholder="Digite o endereço...">
    <div class="d-flex justify-content-end mt-3">
      <button
        *ngIf="task.place"
        [disabled]="updating"
        (click)="removeLocation()"
        type="button"
        class="btn btn-danger mr-2">
        Remover
      </button>
      <button
        [disabled]="!place || updating"
        type="submit"
        class="btn btn-primary">
        Salvar
      </button>
    </div>
  </form>
</div>
