<app-header></app-header>
<main id="plans">
  <section class="primary">
    <div class="container text-center">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4">Conheça nossos planos!</h2>
          <h4 class="mb-4 text-left">Você paga de acordo com seu crescimento. Criamos diversos planos pensando no tamanho da sua assessoria. Os planos levam em consideração apenas a quantidade de clientes que estão <b>em processo de assessoria.</b></h4>
        </div>
      </div>
    </div>
  </section>
  <section class="secondary">
    <div class="container text-center">
      <div class="row mb-4">
        <div class="col justify-content-center">
          <div class="btn-group">
            <button
              [ngClass]="{'active': mensalPrice}"
              (click)="setMensalPrice(true)"
              type="button"
              class="btn btn-secondary">Mensal</button>
            <button
              [ngClass]="{'active': !mensalPrice}"
              (click)="setMensalPrice(false)"
              type="button"
              class="btn btn-secondary">Anual (-15%)</button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-lg-4 col-xl-3">
          <div class="card bg-secondary text-white mb-4">
            <div class="card-header text-center">
              <h2>50</h2>
              <h5 class="mb-0">assessorados</h5>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center">
              <h5 class="d-inline-block mb-0">R$</h5>
              <h2 *ngIf="mensalPrice" class="d-inline-block mx-2 mb-0">157</h2>
              <h5 *ngIf="mensalPrice" class="d-inline-block mb-0">/ mês</h5>
              <h2 *ngIf="!mensalPrice" class="d-inline-block mx-2 mb-0">1602</h2>
              <h5 *ngIf="!mensalPrice" class="d-inline-block mb-0">/ ano</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 col-xl-3">
          <div class="card bg-dark text-white mb-4">
            <div class="card-header text-center">
              <h2>100</h2>
              <h5 class="mb-0">assessorados</h5>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center">
              <h5 class="d-inline-block mb-0">R$</h5>
              <h2 *ngIf="mensalPrice" class="d-inline-block mx-2 mb-0">197</h2>
              <h5 *ngIf="mensalPrice" class="d-inline-block mb-0">/ mês</h5>
              <h2 *ngIf="!mensalPrice" class="d-inline-block mx-2 mb-0">2010</h2>
              <h5 *ngIf="!mensalPrice" class="d-inline-block mb-0">/ ano</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 col-xl-3">
          <div class="card bg-info text-white mb-4">
            <div class="card-header text-center">
              <h2>160</h2>
              <h5 class="mb-0">assessorados</h5>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center">
              <h5 class="d-inline-block mb-0">R$</h5>
              <h2 *ngIf="mensalPrice" class="d-inline-block mx-2 mb-0">247</h2>
              <h5 *ngIf="mensalPrice" class="d-inline-block mb-0">/ mês</h5>
              <h2 *ngIf="!mensalPrice" class="d-inline-block mx-2 mb-0">2520</h2>
              <h5 *ngIf="!mensalPrice" class="d-inline-block mb-0">/ ano</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 col-xl-3">
          <div class="card bg-primary text-white mb-4">
            <div class="card-header text-center">
              <h2>210</h2>
              <h5 class="mb-0">assessorados</h5>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center">
              <h5 class="d-inline-block mb-0">R$</h5>
              <h2 *ngIf="mensalPrice" class="d-inline-block mx-2 mb-0">297</h2>
              <h5 *ngIf="mensalPrice" class="d-inline-block mb-0">/ mês</h5>
              <h2 *ngIf="!mensalPrice" class="d-inline-block mx-2 mb-0">3030</h2>
              <h5 *ngIf="!mensalPrice" class="d-inline-block mb-0">/ ano</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 col-xl-3">
          <div class="card bg-success text-white mb-4">
            <div class="card-header text-center">
              <h2 class="mb-0">Ilimitado</h2>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center">
              <h5 class="d-inline-block mb-0">R$</h5>
              <h2 *ngIf="mensalPrice" class="d-inline-block mx-2 mb-0">397</h2>
              <h5 *ngIf="mensalPrice" class="d-inline-block mb-0">/ mês</h5>
              <h2 *ngIf="!mensalPrice" class="d-inline-block mx-2 mb-0">4050</h2>
              <h5 *ngIf="!mensalPrice" class="d-inline-block mb-0">/ ano</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="primary">
    <div class="container text-center">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4">Está interessado?</h2>
          <h4 class="mb-4">Entre em contato conosco via Chat ou através do e-mail <a href="mailto:contact@intercamb.me">contact@intercamb.me</a>.</h4>
          <button
            (click)="openChat()"
            type="button"
            class="btn btn-info btn-lg">
            Abrir chat
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
